#affichage {
	width: 25%;
}

#main {
	width: 75%;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 250px;
	margin: 45px;
	padding: 5px;
	text-align: center;
	border: 1px solid #289fed;
	box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff, 15px 15px 0px 0px #a1d8ff,
		20px 20px 0px 0px #cae6ff, 25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
